/* reset do CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
     background-image: url(../assets/mountains-universe-2.png);  
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;

 height:  100vh;
}

header {
    display: flex;
    padding: 40px 72px;
    gap: 44px;
    align-items: center;

    ul {
        list-style: none;
        display: flex;
        gap: 44px;

        a {
            font-size: 22px;
            color: #e1e1e6;
            text-decoration: none;
        }

        .ativa {
            font-weight: 700;
            color: #FFF;
        }
    }
}
main {
    margin-left: 102px;
    color: #e1e1e6;
    margin-top: 63px;

    h1 {
        font-size: 48px;
        line-height: 125%;
        margin-bottom: 16px;
    }

    p {
        max-width: 648px;
        line-height: 160%;
        font-size: 18px;
    }
}